* {
	box-sizing: border-box;
}

body {
	font-family: Roboto, Arial, sans-serif;
	overflow-x: none;
	background-color: #fff;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

nav {
	width: 100%;
	height: 45px;
	background-color: #c4c4c4;
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 0 24px;
}

.fixed_break {
	margin-bottom: calc(45px + 64px);
}

form {
	width: 25%;
	border-radius: 3px;
	background-color: #efefef;
	padding: 32px 24px;
	margin: 0 auto;
}

h1 {
	text-align: center;
	font-weight: bold;
	font-size: 2.6em;
	margin-bottom: 64px;
}

label {
	font-size: 0.85em;
	font-weight: bold;
}

input {
	display: block;
	background-color: inherit;
	width: 100%;
	height: 42px;
	outline: none;
	border: 1px solid #c7c7c7;
	margin: 6px 0 16px 0;
	padding: 0 12px;
	border-radius: 3px;
}

button {
	height: 42px;
	width: 100%;
	background-color: #0dbad1;
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 3px;
	border: none;
	outline: none;
	color: #fff;
	cursor: pointer;
	margin-bottom: 24px;
}

a {
	color: black;
	text-decoration: none;
	display: block;
	text-align: center;
	font-size: 1em;
	margin-bottom: 64px;
}

p {
	color: #7d7d7d;
	font-size: 0.78em;
	text-align: center;
}

@media screen and (max-width: 1000px) {
	form {
		width: 70%;
	}
}

@media screen and (max-width: 600px) {
	form {
		width: 90%;
	}
}

section {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card {
	width: 410px;
	background-color: #efefef;
	position: absolute;
	top: 100px;
}

.img-container {
	width: 100%;
	height: 386px;
	overflow: hidden;
	background-color: blue;
}

img {
	width: 100%;
	height: 386px;
	object-fit: cover;
}

.discount {
	color: #000;
	position: absolute;
	right: 0;
	bottom: 50px;
	z-index: 1;
	font-size: 24px;
	background-color: #fff;
	text-align: center;
	padding: 12px 16px;
	font-weight: bold;
}

.price-container {
	width: 100%;
	padding: 16px;
	background-color: #fff;
	position: absolute;
	display: flex;
	font-size: 12px;
	align-items: center;
}

.col-1 {
	flex: auto;
}

.col-1 h1,
.col-2 h1,
.col-1 p {
	text-align: left;
	margin: 0;
	margin: 6px;
	font-size: 24px;
}

.col-1 p {
	font-size: 14px;
	color: #6f6f6f;
}

.col-2 {
	flex: none;
	color: #c76c00;
}

.payment-container {
	background-color: inherit;
	padding: 42px 16px;
	width: 100%;
	position: absolute;
	display: flex;
	align-items: center;
	margin-top: 92px;
	column-gap: 64px;
}

.sizing,
.types {
	width: 50%;
}

label {
	display: block;
}

select {
	display: block;
	width: 100%;
	height: 38px;
	padding: 6px;
	border: 1px solid #c4c4c4;
	background-color: #efefef;
	margin-top: 6px;
}

.submit {
	position: absolute;
	margin-top: 236px;
	width: 100%;
	padding: 16px;
	background-color: inherit;
}

.submit button {
	background-color: #ee8b15;
}
