body {
	font-family: Helvetica, Arial, sans-serif;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.navbar {
	width: 50%;
	background-color: rgb(23, 153, 185);
	color: #fff;
	padding: 1.3em;
	display: flex;
	column-gap: 1em;
	position: relative;
}

a {
	color: white;
	text-decoration: none;
}

.dropdown-content {
	display: none;
}

.dropdown-menu:hover .dropdown-content {
	display: flex;
}

.dropdown-content {
	position: absolute;
	flex-direction: column;
	background-color: rgb(224, 224, 224);
}

.drop-menu-a {
	color: black;
	padding: 16px;
}

ul {
	background-color: rgb(23, 153, 185);
	width: 50%;
	padding: 12px;
}

li {
	list-style-type: none;
	float: left;
}

li {
	margin-right: 12px;
}

.d-content {
	display: none;
	position: absolute;
	flex-direction: column;
	width: fit-content;
}

.drop:hover .d-content {
	display: flex;
}

.inputContainer {
	width: fit-content;
	position: relative;
	padding: 0.7em 0;
}

input {
	width: 15em;
	height: 38px;
	padding: 0 12px;
	outline: none;
	border: 1px solid rgb(189, 189, 189);
	border-radius: 3px;
}

label {
	position: absolute;
	left: 12px;
	bottom: 35%;
	transition: 0.1s ease-in;
	color: rgb(189, 189, 189);
}

input:focus ~ label {
	bottom: 68%;
	background-color: #fff;
	color: rgb(109, 109, 109);
	padding: 0 12px;
	font-size: 0.8em;
}

button {
	padding: 12px 32px;
}
