body {
	font-family: Helvetica, Arial, sans-serif;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.navbar {
	width: 50%;
	background-color: rgb(23, 153, 185);
	color: #fff;
	padding: 1.3em;
	display: flex;
	column-gap: 1em;
	position: relative;
}

a {
	color: white;
	text-decoration: none;
}

.dropdown-content {
	display: none;
}

.dropdown-menu:hover .dropdown-content {
	display: flex;
}

.dropdown-content {
	position: absolute;
	flex-direction: column;
	background-color: rgb(224, 224, 224);
}

.drop-menu-a {
	color: black;
	padding: 16px;
}

ul {
	background-color: rgb(23, 153, 185);
	width: 50%;
	padding: 12px;
}

li {
	list-style-type: none;
	float: left;
}

li {
	margin-right: 12px;
}

.d-content {
	display: none;
	position: absolute;
	flex-direction: column;
	width: fit-content;
}

.drop:hover .d-content {
	display: flex;
}
