* {
	box-sizing: border-box;
}

body {
	font-family: Roboto, Arial, sans-serif;
	overflow-x: none;
	background-color: #fff;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

nav {
	width: 100%;
	height: 45px;
	background-color: #c4c4c4;
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 0 24px;
}

.fixed_break {
	margin-bottom: calc(45px + 64px);
}

form {
	width: 25%;
	border-radius: 3px;
	background-color: #efefef;
	padding: 32px 24px;
	margin: 0 auto;
}

h1 {
	text-align: center;
	font-weight: bold;
	font-size: 2.6em;
	margin-bottom: 64px;
}

label {
	font-size: 0.85em;
	font-weight: bold;
}

input {
	display: block;
	background-color: inherit;
	width: 100%;
	height: 42px;
	outline: none;
	border: 1px solid #c7c7c7;
	margin: 6px 0 16px 0;
	padding: 0 12px;
	border-radius: 3px;
}

button {
	height: 42px;
	width: 100%;
	background-color: #0dbad1;
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 3px;
	border: none;
	outline: none;
	color: #fff;
	cursor: pointer;
	margin-bottom: 24px;
}

a {
	color: black;
	text-decoration: none;
	display: block;
	text-align: center;
	font-size: 1em;
	margin-bottom: 64px;
}

p {
	color: #7d7d7d;
	font-size: 0.78em;
	text-align: center;
}

@media screen and (max-width: 1000px) {
	form {
		width: 70%;
	}
}

@media screen and (max-width: 600px) {
	form {
		width: 90%;
	}
}
